{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="icon" href="../static/img/crown-logo.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/style.css">
    <title>The Sultan Website</title>
</head>
<body>
	
<!-- banner section start -->
<section class="container-flude" id="bannerSection">
	<div class="bannerSection" id="home">
		<div class="particleJs">
			<div id="particles-js"></div>
		</div>
		<div class="content">
			<div class="userImage">
				<img src="../static/img/MyPicture.png" alt="User Image">
			</div>
	
			<h2>Hi, I'm Sultan</h2>
	
			<div class="bannerIcons">
				<a href="https://www.facebook.com/nusantarasulltan.nusantarasulltan" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/Sulltannusanta1?s=09" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/sultan-daffa-nusantara-b1a7821a5" target="_blank"><i class="fa fa-linkedin"></i></a>
				<a href="https://www.instagram.com/nusantara_sulltand/?hl=id" target="_blank"><i class="fa fa-instagram"></i></a>
				<a href="https://id.quora.com/profile/Sultan-Daffa-Nusantara?ch=13&share=eddcf372&srid=wlQjm" target="_blank"><i class="fa fa-quora"></i></a>
			</div>
	
			<div class="mouseIcon">
	
			</div>
		</div>
	</div>
</section>
<!-- banner section end -->

<!-- about section start-->
<section class="container-flude" id="about">
	<div class="container">
		<h2 class="title">About Me</h2>

		<div class="grid">
			<div class="aboutImage">
				<img src="../static/img/about.png" alt="My Picture">
			</div>
			<div class="aboutContent">
				<h3>Hello, ini Sultan Daffa N</h3>
				<p>Nama lengkap saya adalah Sultan Daffa Nusantara. Saya tinggal di Bekasi. Saya senang mencoba melakukan hal-hal baru, terlebih lagi jika hal tersebut dapat menigkatkan skill-skill saya. Saya sangat tertarik dengan dunia teknologi dan dunia bisnis walaupun untuk teknologi saya masih harus belajar banyak lagi. Saya juga punya ketertarikan pada psikologi, filsafat, dan sejarah.</p>
				<br>
				<p>Saya menempuh pendidikan dasar di SD IT Al Hidayah selama 6 tahun pada tahun 2007-2013. Kemudian saya melanjutkan pendidikan saya di SMP IT Al Binaa selama 3 tahun dan melanjutkan pendidikan menengah atas saya di SMA IT Al Binaa selama 3 tahun juga. Setelah itu, saya melanjutkan pendidikan saya di perguruan tinggi bernama Universitas Indonesia.</p>
				
				<div class="infoGrid">
					<div>
					<label>Name : </label>
					Sultan Daffa Nusantara
					</div>
					<div>
					<label>NPM : </label>
					1906399581
					</div>
					<div>
					<label>Angkatan : </label>
					2019
					</div>
					<div>
					<label>Tempat Kuliah : </label>
					Universitas Indonesia
					</div>
					<div>
					<label>Telepon : </label>
					082117688324
					</div>
					<div>
					<label>Hobi : </label>
					Beladiri & Tenis Meja
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- about section end-->

<!-- skills section start-->
<section class="container-flude" id="skills">
	<div class="container">
		<h2 class="title">Skills</h2>

		<div class="skillsContent">
			<div>
				<div class="upper">
					<label>HTML5</label>
					<span>70%</span>
				</div>
				<div class="lower">
					<div class="percentage" style="--width: 70%;"></div>
				</div>
			</div>

			<div>
				<div class="upper">
					<label>CSS3</label>
					<span>60%</span>
				</div>
				<div class="lower">
					<div class="percentage" style="--width: 60%;"></div>
				</div>
			</div>

			<div>
				<div class="upper">
					<label>Git</label>
					<span>50%</span>
				</div>
				<div class="lower">
					<div class="percentage" style="--width: 50%;"></div>
				</div>
			</div>

			<div>
				<div class="upper">
					<label>Python</label>
					<span>70%</span>
				</div>
				<div class="lower">
					<div class="percentage" style="--width: 70%;"></div>
				</div>
			</div>

			<div>
				<div class="upper">
					<label>Java</label>
					<span>50%</span>
				</div>
				<div class="lower">
					<div class="percentage" style="--width: 50%;"></div>
				</div>
			</div>

			<div>
				<div class="upper">
					<label>Information Systems</label>
					<span>60%</span>
				</div>
				<div class="lower">
					<div class="percentage" style="--width: 60%;"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- skills section end-->

<!-- service section start-->
<section class="container-flude" id="services">
	<div class="container">
		<h2 class="title">Services</h2>
		
		<div class="servicesContant">
			<div class="box">
				<span></span>
				<span></span>
				<div class="serviceIcons">
					<i class="fa fa-html5"></i>
				</div>
				<h4 class="serviceTitle">
					Web Design
				</h4>
				<h5>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odio, officia at culpa, ex autem voluptas quis numuam consectetur.
				</h5>
			</div>
			<div class="box">
				<span></span>
				<span></span>
				<div class="serviceIcons">
					<i class="fa fa-database"></i>
				</div>
				<h4 class="serviceTitle">
					Data Structure
				</h4>
				<h5>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odio, officia at culpa, ex autem voluptas quis numuam consectetur.
				</h5>
			</div>
			<div class="box">
				<span></span>
				<span></span>
				<div class="serviceIcons">
					<i class="fa fa-wordpress"></i>
				</div>
				<h4 class="serviceTitle">
					Web Development
				</h4>
				<h5>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odio, officia at culpa, ex autem voluptas quis numuam consectetur.
				</h5>
			</div>
			<div class="box">
				<span></span>
				<span></span>
				<div class="serviceIcons">
					<i class="fa fa-superpowers"></i>
				</div>
				<h4 class="serviceTitle">
					UI/UX
				</h4>
				<h5>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odio, officia at culpa, ex autem voluptas quis numuam consectetur.
				</h5>
			</div>
			<div class="box">
				<span></span>
				<span></span>
				<div class="serviceIcons">
					<i class="fa fa-cloud"></i>
				</div>
				<h4 class="serviceTitle">
					Cloud Computing
				</h4>
				<h5>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odio, officia at culpa, ex autem voluptas quis numuam consectetur.
				</h5>
			</div>
			<div class="box">
				<span></span>
				<span></span>
				<div class="serviceIcons">
					<i class="fa fa-shield"></i>
				</div>
				<h4 class="serviceTitle">
					SEO
				</h4>
				<h5>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odio, officia at culpa, ex autem voluptas quis numuam consectetur.
				</h5>
			</div>
		</div>
	</div>
</section>	
<!-- service section end -->

<!-- contact section start -->
<section class="container-flude" id="contact">
	<div class="container">
		<h2 class="title">Contact</h2>

		<div class="contactContent">
			<div class="box">
				<div class="contactIcons">
					<i class="fa fa-home"></i>
				</div>
				<h4>location</h4>
				<p>Bekasi</p>
			</div>
			<div class="box">
				<div class="contactIcons">
					<i class="fa fa-phone"></i>
				</div>
				<h4>Phone</h4>
				<p>0821173876</p>
			</div>
			<div class="box">
				<div class="contactIcons">
					<i class="fa fa-envelope"></i>
				</div>
				<h4>Mail</h4>
				<p>nusantara_sulltand@gmail.com</p>
			</div>
			<div class="box">
				<div class="contactIcons">
					<i class="fa fa-share-alt"></i>
				</div>
				<h4>Social Media</h4>
				<div class="socialGrid">
					<div>
						<i class="fa fa-facebook"></i>
					</div>
					<div>
						<i class="fa fa-twitter"></i>
					</div>
					<div>
						<i class="fa fa-linkedin"></i>
					</div>
					<div>
						<i class="fa fa-instagram"></i>
					</div>
				</div>
			</div>
		</div>
		
		<div class="contactMap">
			<div class="form">
				<div class="fromGroup">
					<input type="text" name="userName" autocomplete="off" placeholder="Enter your Name *">
					<input type="text" name="userEmail" autocomplete="off" placeholder="Enter your Email *">
				</div>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<button type="submit">Send Massage</button>
			</div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126906.93314478919!2d106.90333616842022!3d-6.284534841874523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698c6900964f69%3A0xd00495351896398!2sBekasi%2C%20Kota%20Bks%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1600672239299!5m2!1sid!2sid" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
	</div>
</section>
<!-- contact section end -->

<!-- copyright section start -->


<footer>
	Made With <span><i class="fa fa-heart-o"></span></i> By Sultan & Web Tutorial Guru
</footer>
<!-- copyright section end -->

<!-- Particles Js start -->
	<script src="../static/particleJs/particles.js"></script>
	<script src="../static/particleJs/app.js"></script>
<!-- Particles Js end -->

<!-- Js links start -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/script.js"></script>
<!-- Js links end -->
</body>
</html>
