{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="icon" href="../static/img/crown-logo.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/style.css">
    <title>The Sultan Web - portfolio</title>
</head>
<body>
    <!-- Header Section start -->
	<header>
		<div class="container">
			<div class="logo">
				<a href="http://thesultanweb.herokuapp.com/"><img src="../static/img/logo.png" alt="logo" ></a>
			</div>
			
			<nav>
				<ul>
					<li><a href="http://thesultanweb.herokuapp.com/">Home</a></li>
						<li><a href="http://thesultanweb.herokuapp.com/#contact">about</a></li>
						<li><a href="http://thesultanweb.herokuapp.com/#skills">skills</a></li>
						<li><a href="http://thesultanweb.herokuapp.com/#services">services</a></li>
						<li><a href="./portfolio" target="_blank">portfolio</a></li>
						<li><a href="http://thesultanweb.herokuapp.com/#contact">contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
	</div>
<!-- Header Section end -->
<!-- Portfolio Section start -->
<section class="container-fluid">
    <div class="container">
        <h2 class="title">Portfolio</h2>

        <div class="portfolioContent">
            <div>
                <div class="portfolioInfo">
                    <h4>Project One</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam reiciendis, magni eaque placeat doloribus pariatur.</p>
                </div>
                <div class="projectImage">
                    <img src="../static/img/portfolio/1.jpg" alt="Project Image 1">
                </div>
            </div>
            <div>
                <div class="portfolioInfo">
                    <h4>Project Two</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam reiciendis, magni eaque placeat doloribus pariatur.</p>
                </div>
                <div class="projectImage">
                    <img src="../static/img/portfolio/2.jpg" alt="Project Image 2">
                </div>
            </div>
            <div>
                <div class="portfolioInfo">
                    <h4>Project Three</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam reiciendis, magni eaque placeat doloribus pariatur.</p>
                </div>
                <div class="projectImage">
                    <img src="../static/img/portfolio/3.jpg" alt="Project Image 3">
                </div>
            </div>
            <div>
                <div class="portfolioInfo">
                    <h4>Project Four</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam reiciendis, magni eaque placeat doloribus pariatur.</p>
                </div>
                <div class="projectImage">
                    <img src="../static/img/portfolio/4.jpg" alt="Project Image 4">
                </div>
            </div>
            <div>
                <div class="portfolioInfo">
                    <h4>Project Five</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam reiciendis, magni eaque placeat doloribus pariatur.</p>
                </div>
                <div class="projectImage">
                    <img src="../static/img/portfolio/5.jpg" alt="Project Image 5">
                </div>
            </div>
            <div>
                <div class="portfolioInfo">
                    <h4>Project Six</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam reiciendis, magni eaque placeat doloribus pariatur.</p>
                </div>
                <div class="projectImage">
                    <img src="../static/img/portfolio/6.jpg" alt="Project Image 6">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Section end -->
    
</body>
</html>