/* common style start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
:root{
    --pink: #fd005d;
    --blue: #1da3dd;
    --width: 95%;
    --grayBg: #f8f8f8;
}


*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: 1.5s;
    width: 100%;
    min-height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    width: inherit; 
    min-height: inherit; 
    margin: 0; 
    padding: 0; 
}

.container-flude{
    width: 100%;
}

.container{
    width: 1400px;
    margin: auto;
}

section{
    min-height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
}

.title{
    font-size: 35px;
    text-align: center;
    margin: -10px auto 60px;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 2px solid var(--blue);
    width: 250px;
    color: #444;
    padding: 0 0 10px;
}

.title::after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: var(--pink);
    margin: auto;
    display: block;
}
/* common style end*/

/* common header start*/
header{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 99999;
}

header .logo img{
    width: 256px;
    margin-top: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li a{
    display: inline-block;
    height: 75px;
    line-height: 75px;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    text-transform: capitalize;
    font-weight: 300;
}

nav ul li a:hover, nav ul li a.active{
    color: var(--pink);
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 10px;
}

/* banner section start */
#bannerSection{
    background-image: url(./img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.particleJs{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    z-index: 1;
    left: 0;
}

.content{
    text-align: center;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.content .userImage{
    height: 180px;
    width: 180px;
    overflow: hidden;
    border: 5px solid #fff;
    margin: 50px auto 25px;
    border-radius: 200px;
}

.content .userImage img{
    width: 100%;
    height: 100%;
}

.content h2{
    font-size: 25px;
    color: #fff;
    border-bottom: 4px solid #fff;
    font-weight: 500;
    display: inline-block;
    margin: 3px auto 8px;
}

.bannerIcons a{
    color: #fff;
    border: 1px solid #fff;
    padding: 0px 3px;
    transition: 0.5s;
}

.bannerIcons a:hover{
    background-color: var(--pink);
    border-color: var(--pink);
}

.bannerIcons{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, 1fr);
    width: 200px;
    margin: auto;
}

.mouseIcon{
    position: relative;
    height: 60px;
    width: 35px;
    border-radius: 100px;
    border: 3px solid #fff;
    margin: 30px auto 0;
}

.mouseIcon::after{
    content: "";
    width: 5px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 44%;
    border-radius: 10px;
    animation: drag 1.25s linear infinite;
}

/* banner section end*/

/* keyframe starts */
@keyframes filler{
    0%{
        width: 0;
    }
    100%{
        width: var(--width);
    }
}

@keyframes drag{
    0%{
        opacity: 0;
        top: 5%;
    }
    20%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        top: 15%;
    }
}
/* keyframe starts */

/* About Section start */
#about .grid{
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    grid-gap: 5px;
}

#about .aboutContent{
    margin-left: 0px;
}


#about .aboutContent p{
    text-align: justify;
    margin: 10px auto 0px;
    color: #181818;
}



#about .aboutContent label{
    font-weight: 600px;
    color: #444;
}

.aboutImage{
    position: relative;
    margin-top: 20px;
    margin-right: auto;
}

.aboutImage img{
    height: 400px;
    width: auto;
    margin-top: auto;
}

.aboutImage::before{
    content: '';
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue);
    transform: skewY(25deg);
    z-index: -1;
}

.aboutImage::after{
    content: '';
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--pink);
    transform: skewY(15deg);
    z-index: -1;
}

#about .infoGrid{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

#about .infoGrid label{
    font-weight: 600;
    color: #444;
}
/* About Section end */

/* Skills Section start */
#skills{
    background-image: url(./img/skills.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#skills h2{
    color: #fff;
}

#skills .skillsContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    color: #fff;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 150px;
}

#skills .skillsContent .upper{
    display: flex;
    justify-content: space-between;
}

#skills .skillsContent .lower{
    height: 15px;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 200px;
}

#skills .skillsContent .lower .percentage{
    width: var(--width);
    background-color: var(--blue);
    height: 15px;
    margin-top: 5px;
    border-radius: 200px;
}

#skills .skillsContent > div:hover .lower .percentage{
    animation: 1.5s filler ease-in-out;  
}

/* Skills Section end */

/* services Section start */
#services{
    background-color: var(--grayBg);
    color: #181818;
}

#services h2{
    color: #181818;
}

#services .servicesContant{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.servicesContant .serviceIcons{
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 3px auto 15px;
    border-radius: 200px;
    background-color: var(--pink);
    border-color: 2px solid var(--pink);
    text-align: center;
    color: #fff;
    font-size: 3em;
    transition: 0.5s;
}

.servicesContant .serviceTitle{
    color: var(--blue);
    margin: 0 auto 15px;
    text-align: center;
}

.servicesContant p{
    text-align: justify;
}

.servicesContant .box{
    position: relative;
    cursor: pointer;
    padding: 13px;
}


.servicesContant .box::after, .servicesContant .box::before, .servicesContant .box span{
    position: absolute;
    content: '';
    background-color: var(--blue);
    transition: 0.5s all;
}

.servicesContant .box:hover::after{
    width: 100%;
    left: 0;
}

.servicesContant .box::after{
    width: 80%;
    bottom: 0;
    left: 10%;
    height: 3px;
}

.servicesContant .box::before{
    width: 80%;
    top: 0;
    left: 10%;
    height: 3px;
}

.servicesContant .box:hover::before{
    width: 100%;
    left: 0;
}

.servicesContant .box span:nth-child(1){
    width: 3px;
    height: 80%;
    left: 0;
    top: 10%;
}

.servicesContant .box:hover span:nth-child(1){
    height:100%;
    top: 0px;
}

.servicesContant .box span:nth-child(2){
    width: 3px;
    height: 80%;
    right: 0;
    top: 10%;
}

.servicesContant .box:hover span:nth-child(2){
    height: 100%;
    top: 0px;
}

.servicesContant .box:hover .serviceIcons{
    border: 2px solid var(--pink);
    background-color: transparent;
    color: var(--pink);
}
/* services Section end */

/* portfolio Section start */
.portfolioContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 80px 80px 80px;
}
.projectImage{
    height: 300px;
    width: 100%;
}
.projectImage img{
    width: 100%;
    height: 100%;
}
.portfolioContent > div{
    position: relative;
    overflow: hidden;
}
.portfolioInfo{
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 30, 90, 0.9);
    color: #fff;
    padding: 30px;
    outline: 1px solid #fff;
    outline-offset: -15px;
    transition: 0.5s all;
    opacity: 0;
}
.portfolioContent > div:hover .portfolioInfo{
    left: 0;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
}
.portfolioInfo h4{
    margin: 50px 0 25px;
    font-weight: normal;
    font-size: 20px;
}
.portfolioInfo p{
    letter-spacing: 0.5px;
    font-weight: 300;
}
/* portfolio Section end */

/* contact Section start */
#contact{
    background-color: var(--grayBg);
}

.contactContent, .socialGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contactContent{
    grid-gap: 20px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: -20px;
    height: 80px;
}

.contactContent .box{
    margin-top: 0px;
    padding: 10 px;
    box-shadow: 0 0 15px 0 #00000021;
    color: #181818;
}

.contactContent .box h4{
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.contactContent .box p{
    text-align: center;
}

.contactContent .contactIcons{
    font-size: 25px;
    text-align: center;
    color: var(--pink);
}

.socialGrid{
    width: 100px;
    margin: auto;
}

.contactMap{
    margin-top: 25px;
    box-shadow: 0 0 15px 0 #00000021;
    margin-right: 80px;
    margin-left: 80px;
    height: auto;
    position: relative;
}

.contactMap .form{
    position: absolute;
    top: 15px;
    right: 15px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 #00000021;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 15px;
}

.contactMap .form textarea{
    height: 250px;
    border: 1px solid var(--pink);
    outline: none;
}

.contactMap .form .fromGroup{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.contactMap .form .fromGroup input{
    border: 0;
    outline: none;
    border-bottom: 1px solid var(--pink);
    padding: 5px;
}

.contactMap .form button{
    background-color: var(--pink);
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
}
/* contact Section end */

/* copyright Section start */
footer{
    background-color: var(--grayBg);
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
}

footer span{
    color: var(--pink);
}
/* copyright Section end */